<h1>Existing User Login</h1>

<% flash.each do |key, value| %>
        <div><%= value %></div>
<% end %>
<br>
<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Log In" %><br><br>

<% end %>

<%= link_to "Login via Github", "/auth/github" %><br><br>

Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %> if you dont have an account
