<h1>Existing User Login</h1><br>

<% flash.each do |key, value| %>
  <div class="alert alert-danger"><%= value %></div>
<% end %>
<div class="col-md-4 mb-3">
  <%= form_for @user, url: login_path, method: :post do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %><br>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %><br>

    <%= f.submit "Log In", class: "btn btn-primary" %><br>

  <% end %>
</div>
<%= link_to "Login via Github", "/auth/github" %><br><br>

Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %> if you dont have an account
