<h2>List of Expenses to Buy</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Cost</th>
  </tr>
  <% @expenses.each do |expense| %>
    <% if expense.purchased == true %>
      <tr>
        <td><strike><%= link_to expense.name, edit_event_expense_path(expense.event_id, expense.id) %></strike></td>
        <td><strike><%= expense.quantity %></strike></td>
        <td><strike><%= number_to_currency(expense.cost) %></strike></td>
      </tr>
    <% else %>
      <tr>
        <td><%= link_to expense.name, edit_event_expense_path(expense.event_id, expense.id) %></td>
        <td><%= expense.quantity %></td>
        <td><%= number_to_currency(expense.cost) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
