<h1>Hi, <%= @user.username %> </h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Logout'>
<% end %>
<br><br>
<% if @events == [] %>
    <h3>You have no events, click <%= link_to "here", new_event_url %> to add one</h3>
<% else %>
    <h3>Your Events</h3>
    <%= link_to "New Event", new_event_url %>
    <br><br>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Event Name</th>
        <th>Event Budget</th>
        <td></td>
      </tr>
    <% @events.each do |event| %>
      <tr>
        <td></td>
        <td><%= link_to event.name, event_path(event)%></td>
        <td><%= number_to_currency(event.budget) %></td>
        <td><%= link_to "Delete", event_path(event), :method => :delete %></td>
      </tr>

      <% end %>
    <% end %>
    </table>
