<h1>Hi, <%= @user.username %>! </h1>
<br>
<% if @events == [] %>
    <h3>You have no events, click <%= link_to "here", new_event_url %> to add one</h3>
<% else %>
    <h3>Your Events</h3>
    <%= link_to "New Event", new_event_url %>
    <br><br>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Event Name</th>
          <th>Event Budget</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    <% @events.each do |event| %>
      <tr>
        <td></td>
        <td><%= link_to event.name, event_path(event)%></td>
        <td><%= number_to_currency(event.budget) %></td>
        <td><%= link_to "Delete", event_path(event), :method => :delete %></td>
        <td><a class="eventBrief" href="/events/<%=event.id%>.json">Brief Info</a>
      </tr>
      <% end %>
    <% end %>
  </table>
  <div id="briefTable">
  <table>
    <% @events.each do |event| %>
    <tr>
      <td>
          <div id="briefedEvent<%=event.id%>" >

          </div>
          <div id="briefedGuest<%=event.id%>" >

          </div>
        </td>
    </tr>
    </div>
  <% end %>

<div id="showShoppingList">
  <h3> Shopping List </h3>
  <a href="/expenselist.json" id="shoppingList" type="submit">Show List</a>
  <table></table>
</div>
